<div class="form-group">
  <label for="model-group">{{glass.question}}</label>
  <a href="#" data-toggle="tooltip" title="{{glass.tooltip}}">
  	<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
  <br />
  	{{#each glass.options as |gl|}}
		<label class="radio-inline"><input type="radio" name="glass" value={{gl.id}} onclick={{action "setValue" value='target.value'}}>{{gl.label}} (+{{gl.price}} €)</label>
	{{/each}}
</div>


{{yield}}